.note-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 12px;
  padding: 12px;
  overflow-y: auto;
  height: calc(100vh - 140px);
  max-width: 100%;
  grid-auto-rows: minmax(180px, auto);
  align-items: start;
  justify-content: center;
}

/* Responsive behavior */

@media (max-width: 680px) and (min-width: 501px) {
  .note-list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 500px) {
  .note-list {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.no-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #777;
  text-align: center;
  border: 1px dashed #3a3a3a;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}
